/* ================================================================ */
/*  Global                                                          */
/* ================================================================ */
:root {

    /* Color - Neutral */
    --color-neutral-6: #676767;
    --color-neutral-7: #353535;
    --color-neutral-8: #3C3C3C;
    --color-neutral-9: #1e1e1e;
    
    /* Border Radius */
    --border-radius-soft: 8px;

    /* Color - Extended */
    --color-green: #10b981;
    --color-red: #ef4444;
    --color-yellow: #f7b91c;

    /* App Settings */
    --side-menu-size: 280px;
}

@import 'font';
html {
    font-family: 'nunito';
}

/* ================================================================ */
/*  Reset                                                           */
/* ================================================================ */
@import 'reset';

/* ================================================================ */
/*  Page Layout                                                     */
/* ================================================================ */
@import 'page-layout/page';

/* ================================================================ */
/*  Patterns                                                        */
/* ================================================================ */
@import 'patterns/wizard';
@import 'patterns/progress';
@import 'patterns/card';

/* ================================================================ */
/*  Html Elements                                                   */
/* ================================================================ */
@import 'html-elements/forms';

/* ================================================================ */
/*  Custom Classes                                                  */
/* ================================================================ */
@import 'custom-classes';
